:root {
  --dark-green: #04794d;
  --light-green: #deecdf;
}

.assignment-page {
  padding: 1em 2em;
  display: grid;
  grid-template-areas: "assign student";
  grid-template-columns: 1fr 1fr;
}

.assignment {
  grid-area: assign;
}

.edit-assignment-button {
  float: right;
  margin: 1em 2em;
}

.assignment-form {
  text-align: center;
  grid-area: student;
}

.assignment-form label {
  padding: 0 auto;
  background-color: var(--dark-green);
  color: white;
  display: block;
  margin-top: 1em;
}

.repo-selection {
  margin-top: 4em;
}

.close-btn {
  background: none;
  width: 20px;
  height: 20px;
  padding: 0;
}

.green-btn {
  margin-top: 10px;
  width: 140px;
  height: 30px;
  align-self: center;
  background-color: var(--dark-green);
  color: white;
  border: none;
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
}
