.add-assignment-page {
  display: flex;
  justify-content: center;
}

.add-assignment-form {
  width: 50%;
  text-align: center;
  padding: 1em 2em;
}

.add-assignment-form label {
  padding: 0 auto;
  background-color: #04794d;
  color: white;
  display: block;
  margin-top: 1em;
}

.add-assignment-form label:nth-child(0) {
  margin-top: 0;
}

.description {
  height: 200px;
}

.add-btn {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  align-self: center;
  background-color: var(--dark-green);
  color: white;
  border: none;
}

.form-title {
  font-size: 35px;
  padding: 5px 0;
}
