.student-home {
  display: grid;
  grid-template-areas: "name due" "pic link";
  grid-template-columns: auto 1fr;
  grid-template-rows: 100mm 1fr;
  grid-gap: 5vw;
}

.student-home {
  grid-area: pic;
  text-align: center;
}

.student-nextdue-zone h1 {
  grid-area: due;
}

.student-pic {
  width: 30vw;
  margin: 0.5vw;
}

.student-home a {
  font-size: 1.4em;
  display: block;
  grid-area: link;
}

.student-home h1 {
  grid-area: name;
}

.student-home img {
  grid-area: pic;
}
